@using System.Security.Claims
@using System.Security.Principal
@using Newtonsoft.Json
@model System.Security.Claims.ClaimsPrincipal

<style>
  .propertyGrid {
    /*position: absolute;*/
    /*width: 300px;*/
    height: auto;
    padding: 10px;
    background-color: lightgray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    /* update to go down a level */
  }
  
  .propertyGrid p {
    display: grid;/* direct children will be displayed into the grid set */
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    grid-template-areas: "attributeName attributeValue";
  }
  /* end update */
  .attributeName {
    font-size: 10px;
    grid-area: attributeName;
  }
  
  .attributeValue {
    font-size: 14px;
    grid-area: attributeValue;
  }
</style>

<h1>Identity</h1>
<div class="propertyGrid">
    <p>
        <span class="attributeName">Name: </span>
        <span class="attributeValue">@(Model?.Identity?.Name)</span>
    </p>
    <p>
        <span class="attributeName">IsAuthenticated?</span>
        <span class="attributeValue">@(Model?.Identity?.IsAuthenticated)</span>
    </p>
    <p>
        <span class="attributeName">AuthenticationType:</span>
        <span class="attributeValue">@(Model?.Identity?.AuthenticationType)</span>
    </p>
</div>

<h1>Claims</h1>
<div class="propertyGrid">
    @foreach (var claim in Model.Claims)
    {
        <p>
            <span class="attributeName">@(claim.Type): </span>
            <span class="attributeValue">@(claim.Value)</span>
        </p>
    }
</div>
@* *@
@* *@
@* <pre style="max-height: 600px; overflow-y: auto"><code>@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Claims.ToArray(), Formatting.Indented, new JsonSerializerSettings {ReferenceLoopHandling = ReferenceLoopHandling.Ignore})</code></pre> *@